body {
    margin: 0;
    padding: 0;
    height: 100vh;
    cursor: crosshair;
}

canvas {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    outline: 3px solid black;
    margin: 20px 0px;
}

.container {
    height: 100%;
}

.tools {
    display: flex;
    justify-content: center;
}

#coords {
    display: none;
}

#palette {
    display: flex;
}

.palette__option {
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 100%;
}
